<p id="notice"><%= notice %></p>
<%= render 'patients/filter' %>
<table class="table">
  <thead>
    <tr>
      <th>序号</th>
      <th>类型</th>
      <th>姓名</th>
      <th>性别</th>
      <th>出生日期</th>
      <th>手机号码</th>
      <th>住址</th>
      <th>填表医生</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.patient_type %></td>
        <td><%= patient.name %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.birth %></td>
        <td><%= patient.mobile %></td>
        <td><%= patient.address %></td>
        <td><%= link_to '查看', patient %></td>
        <td><%= link_to '删除', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
