<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>性别:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>生日:</strong>
  <%= @patient.birth %>
</p>

<p>
  <strong>职业:</strong>
  <%= @patient.job %>
</p>

<p>
  <strong>是否抽烟:</strong>
  <%= @patient.smoke %>
</p>

<p>
  <strong>烟龄:</strong>
  <%= @patient.smoke_age %>
</p>

<p>
  <strong>一天几支烟:</strong>
  <%= @patient.smoke_freq %>
</p>

<p>
  <strong>邮箱:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>地址:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>邮编:</strong>
  <%= @patient.postcode %>
</p>

<p>
  <strong>家庭电话:</strong>
  <%= @patient.home_tel %>
</p>

<p>
  <strong>工作电话:</strong>
  <%= @patient.work_tel %>
</p>

<p>
  <strong>随身电话:</strong>
  <%= @patient.mobile %>
</p>

<!-- <p>
  <strong>Patient type:</strong>
  <%#= @patient.patient_type %>
</p> -->

<p>
  <strong>诊断:</strong>
  <%= @patient.diagnose %>
</p>

<p>
  <strong>注释:</strong>
  <%= @patient.note %>
</p>

<p>
  <strong>Fev fvc:</strong>
  <%= @patient.fev_fvc %>
</p>

<p>
  <strong>Fev pred:</strong>
  <%= @patient.fev_pred %>
</p>

<p>
  <strong>Lung grade:</strong>
  <%= @patient.lung_grade %>
</p>

<%= link_to '编辑', edit_patient_path(@patient) %> |
<%= link_to '返回', patients_path %>
